* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 4000px;
    background: #f4f4f4;
}

.box {
    width: 200px;
    height: 200px;
}

#plus {
    display: none;
}

.text-center {
    text-align: center;
}

#drop-zone {
    height: 15rem;
    border: 3px dashed #555;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    transition: all .5s;
}

#drop-zone>h1 {
    flex: 1;
    height: 100%;
    line-height: 15rem;
    margin: 0;
}